DavidisKochbuch/cueML/cueML_v0.5.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:tei="http://www.tei-c.org/ns/1.0"
    xmlns:teix="http://www.tei-c.org/ns/Examples"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    ns="http://www.tei-c.org/ns/1.0">
    
    
    <include href="basisCueML.rng">
        <define name="tei_recipeIngredient">
            <element name="recipeIngredient" ns="http://cueML/ns">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A single ingredient used in the recipe, e.g. sugar, flour or garlic.</a:documentation>
                <optional>
                    <attribute name="ref">
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Should point to an "ingredient" tag</a:documentation>
                        <data type="anyURI"/>
                    </attribute>
                </optional>
                <ref name="tei_cue.quantity"/>
                <ref name="tei_att.unitForIngredient"/>
                <optional>
                    <attribute name="yield"> <!-- yieldAtLeast yieldAtMost-->
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates the envisaged yield of the ingredient's quantity measured in people.</a:documentation>
                        <data type="integer"/>
                    </attribute>
                </optional>
                <optional>
                    <attribute name="target">
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Provides a link to further information like a recipe for dumplings, when the ingredient is dumpling.</a:documentation>
                    </attribute>
                </optional>
                
                <optional>
                    <attribute name="altGrp">
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Within a recipe a uniqe identifier for all ingredients, which belong to an alternative.</a:documentation>
                    </attribute>
                </optional>
                <optional>
                    <attribute name="optional">
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">States that the ingredient is optional to use, e.g. sugar, if not sweet enough.</a:documentation>
                        <value>True</value>
                    </attribute>
                </optional>
                
                <text/>
            </element>
        </define> 
        
        <define name="tei_recipeYield">
            <element name="yield" ns="http://cueML/ns">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The quantity produced by the recipe measured in number of people served.</a:documentation>
                <ref name="tei_cue.quantity"/>
                
                <text/>
            </element>
        </define>
        
        <define name="tei_recipe">
            <element name="recipe" ns="http://cueML/ns">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A recipe.</a:documentation>
                <ref name="tei_att.typed.attributes"/>
                <optional>
                    <attribute name="rcp-id">
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Identifies a recipe by giving its entry in the original TOC.</a:documentation>
                        <text/>
                    </attribute>
                </optional>
                
                <ref name="tei_model.headLike"/>
                <optional>
                    <ref name="tei_div"/>
                </optional>
                <optional>
                    <ref name="tei_recipe"/>
                </optional>
                <optional>
                    <ref name="tei_recipeInstructions"/>
                </optional>
                <zeroOrMore>
                    <ref name="tei_p"/>
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="tei_ab"/>
                </zeroOrMore>
                <zeroOrMore>
                    <ref name="tei_note"/>
                </zeroOrMore>
            </element>
        </define>
        
    </include>


    <define name="tei_model.divLike" combine="choice">
        <element name="listIngredient" ns="http://cueML/ns">
            <ref name="tei_att.global.attribute.xmlbase"/> <!-- for xinclude -->
            <zeroOrMore>
                <element name="ingredient">
                    <ref name="tei_att.global.attribute.xmlid"/>
                    <!-- The xenoData element may not be defined for the use of this attribute (see http://tei-l.970651.n3.nabble.com/Conflicting-ID-types-for-attribute-quot-id-quot-from-namespace-quot-http-www-w3-org-XML-1998-namespa-td4028055.html) -->
                    <optional>
                        <attribute name="BLSref">
                            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Provides the id of the ingredient in the BLS (Bundeslebensmittelschlüssel).</a:documentation>
                        </attribute>
                    </optional>
                    
                    <element name="prefBasicForm">
                        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Specifies the preferred basis form / lemmatization of the ingredient.</a:documentation>
                        <text/>
                    </element>
                    <zeroOrMore>
                        <element name="altBasicForm">
                            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Provides an alternative possible basis form / lemmatization of the ingredient.</a:documentation>
                            <text/>
                        </element>
                    </zeroOrMore>
                    <zeroOrMore>
                        <element name="note"><text/></element>
                    </zeroOrMore>
                </element>
            </zeroOrMore>
        </element>
    </define>
    
    <define name="tei_model.segLike" combine="choice">
        <element name="alt" ns="http://cueML/ns">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Specifies which altGrp are an alternative to each other.</a:documentation>
            <attribute name="target">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Specifies the altGrp-values which are an alternative to each other.</a:documentation>
            </attribute>
        </element>
        
    </define>

    <define name="tei_cue.quantity">
        <choice>
            <attribute name="quantity">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Specifies the number of the specified units that comprise the measurement.</a:documentation>
            </attribute>
            <group>
                <ref name="tei_att.ranging.attribute.atLeast"/>
                <ref name="tei_att.ranging.attribute.atMost"/>
            </group>
        </choice>
    </define>

    <define name="tei_att.unitForIngredient">
        <optional>
            <attribute name="unit">
                <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates the units used for the measurement.</a:documentation>
                <choice>
                    <value>kg</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(kilogram) SI base unit of mass</a:documentation>
                    <value>Pfund</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Pfund) not standardised unit of mass. Depends on time and location</a:documentation>
                    <value>Loth</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Loth or Lot) not standardised unit of mass. Depends on time and location</a:documentation>
                    <value>Stich</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Stich) not standardised unit of mass.</a:documentation>
                    <value>Messerspitze</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Messrespitze) not standardised unit of mass</a:documentation>
                    <value>Bohne_dick</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Bohne dick) not standardised unit of mass</a:documentation>
                    <value>Pfennig</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Pfennig) an unit which refers to purchase value. Therefore depends on time and location</a:documentation>
                    <value>EL</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Eßlöffel or Esslöffel) not standardised unit of mass or volume</a:documentation>
                    <value>Teelöffel</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Teelöffel) not standardised unit of mass or volume</a:documentation>
                    <value>Tasse</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Tasse) not standardised unit of mass or volume</a:documentation>
                    <value>l</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(litre) 1 dm³</a:documentation>
                    <value>Maß</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Maß) not standardised unit of volume. Depends on time and location</a:documentation>
                    <value>Flasche</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Flasche) not standardised unit of volume</a:documentation>
                    <value>Glas</value><a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Flasche) not standardised unit of volume</a:documentation>
                </choice>
            </attribute>
        </optional>
    </define>
    
</grammar>
